<style>
  #body {
    background-color: linear-gradient(45deg, #ffb900, #fb00ff)
  }
  #buttonMain1 {
    margin: 2%;
    margin-right: 1%;
    width: 47%;
    height: 100%;
    //min-height: 400px;
    border-radius:2em;
    color: white;
    font-family: Arial Black;
    font-size: 170%
  }
  #buttonMain2 {
    margin: 2%;
    margin-left: 1%;
    width: 47%;
    height: 100%;
    //min-height: 400px;
    border-radius:2em;
    color: white;
    font-family: Arial Black;
    font-size: 170%
  }
  #buttonSecondary {
    margin: 2%;
    margin-top: 4%;
    width: 96%;
    height: 100%;
    //min-height: 300px;
    border-radius:2em;
    color: white;
    font-family: Arial Black;
    font-size: 200%
  }
  .One {
  background: linear-gradient(0deg, #2D74D1, #FFFFFF)
  }
  .Two {
  background: linear-gradient(0deg, #3f8c59, #FFFFFF)
  }
  .Three {
  background: linear-gradient(180deg, #E7CAF9, #FBBCFF, #FFFFFF)
  }
  .Height1 {
    height: 60%
  }
  .Height2 {
    height: 30%
  }
</style>

<ion-header>
  <ion-toolbar>
    <ion-title text-center>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<body id="body">
<div class="Height1">
  <button id="buttonMain1" class="One" routerLink="../home" routerDirection="forward">MAP</button>
  <button id="buttonMain2" class="Two" routerLink="/add" routerDirection="forward">ADD</button>
</div>
<div class="Height2">
  <button id="buttonSecondary" class="Three" routerLink="/list" routerDirection="forward">NEAR ME</button>
</div>
</body>
</ion-content>
