<style>
    .body {
      background-color: linear-gradient(45deg, #ffb900, #fb00ff)
    }
    .Width {
      margin: 4%
    }
</style>

<ion-header>
  <ion-toolbar color="tertiary" text-center>
    <ion-title>Map</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="../login" style="font-size: 20px">Dash<br>&#171;</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button routerLink="/add" style="font-size: 20px">Add<br>&#187;</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
  <div>
    <br><br>
  </div>
  <div #map id="map"></div>
  <div class="body">
  <ion-list class="Width">
    <ion-list-header>
      Artists:
    </ion-list-header>
    <ion-item *ngFor="let location of locationsList$ | async" (click)="assignLocation(location)"
      [routerLink]="['/list', artistName]" routerDirection="forward">
      {{location.artist}}
    </ion-item>
  </ion-list>
  </div>
</ion-content>
