<ion-header>
  <ion-toolbar>
    <ion-title>Add Locations</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login">Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="addLocation(location)" routerLink="../home"
  routerDirection="forward">Save Changes</ion-button>
  <ion-button block clear (click)="deleteLocation(location)" routerLink="../home"
  routerDirection="forward">Delete</ion-button>

  <ion-item>
    <ion-label>
      Artist:
    </ion-label>
    <ion-input [(ngModel)]="location.artist" placeholder="Artist..."></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      Link to Song:
    </ion-label>
    <ion-input [(ngModel)]="location.link" placeholder="Song Link..."></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      Latitude:
    </ion-label>
    <ion-input [(ngModel)]="location.latitude" placeholder="Latitude..."></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      Longitude:
    </ion-label>
    <ion-input [(ngModel)]="location.longitude" placeholder="Longitude..."></ion-input>
  </ion-item>


    <ion-button size="large" (click)="addLocation(location)" 
    routerLink="../home" routerDirection="forward">Add Location and Content</ion-button>
</ion-content>